{% extends "layouts/base.html" %}
{% load crispy_forms_filters %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="py-4">
        <div class="dropdown">
          <a href="{% url 'task_tracker:task-create' %}">
            <button class="btn btn-gray-800 d-inline-flex align-items-center me-2 dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
                New Task
            </button>
          </a>
          <a class="btn btn-primary" style="float: right" href="{% url 'task_tracker:task-update' pk=task.pk %}">
              Update
          </a>
          {% if task.is_completed == False %}
          <a class="btn btn-secondary" style="float: right" href="{% url 'task_tracker:task-complete' pk=task.pk %}">
            Complete
          </a>
            {% else %}
            <p class="fs-3 fw-extrabold" style="color: limegreen; float: right">Copmleted</p>
          {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-4">
            <div class="card bg-yellow-100 border-0 shadow">
                <div class="card-header d-sm-flex flex-row align-items-center flex-0">
                    <div class="d-block mb-3 mb-sm-0">
                        <h2 class="fs-3 fw-extrabold">
                          {{ task.name }} ({{ task.task_type }})
                        </h2>
                    </div>
                </div>
                <div class="card-body p-2">
                    <div class="ct-chart-sales-value ct-double-octave ct-series-g">
                      <table style="border-collapse: collapse; width: 100%;">
                          <thead>
                              <tr>
                                  <th style="text-align: left;">Task</th>
                                  <th style="text-align: center;">Deadline</th>
                                  <th style="text-align: right;">Priority</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>{{ task.description }}</td>
                                  <td style="text-align: center; width: 200px;">{{ task.deadline }}</td>
                                  <td style="text-align: right;">
                                      {% if task.priority == "Urgent" %}
                                          <span style="color: red;" class="fw-extrabold">{{ task.priority }}</span>
                                      {% elif task.priority == "High" %}
                                          <span style="color: orangered;" class="fw-extrabold">{{ task.priority }}</span>
                                      {% elif task.priority == "Medium" %}
                                          <span style="color: orange;" class="fw-extrabold">{{ task.priority }}</span>
                                      {% elif task.priority == "Low" %}
                                          <span style="color: green;" class="fw-extrabold">{{ task.priority }}</span>
                                      {% endif %}
                                  </td>
                              </tr>
                          </tbody>
                      </table>

                      <br><br><br>
                      <h3 class="fs-5 fw-extrabold">Assignees</h3>
                    <ul>
                      {% for assignee in assignees %}
                      <li>{{ assignee }}</li>
                      {% endfor %}
                    </ul>
                    <div class="form-group mb-4">
                        <label for="assignees">Assign to task</label>
                      <form method="post" action="{% url 'task_tracker:task-detail' task.pk %}" novalidate>
                          {% csrf_token %}
                          {{ form|crispy }}
                          <button type="submit" class="btn btn-primary">Assign</button>
                      </form>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}


